In [1]:
import yfinance as yf

In [3]:
stock = yf.download('PETR4.SA', 
                    start='2020-01-01',
                    end='2023-01-01')

[*********************100%***********************]  1 of 1 completed

In [5]:
stock.to_csv('stock.csv')

In [6]:
stock

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  30.510000  30.700001  30.309999  30.700001  11.732862  37774500
2020-01-03  30.879999  31.240000  30.450001  30.450001  11.637319  71595600
2020-01-06  30.430000  30.940001  29.950001  30.809999  11.774902  81844000
2020-01-07  30.820000  30.879999  30.469999  30.690001  11.729041  32822000
2020-01-08  30.690001  30.770000  30.240000  30.500000  11.656426  48215600
...               ...        ...        ...        ...        ...       ...
2022-12-23  24.129999  25.219999  24.129999  25.120001  20.212734  68387900
2022-12-26  25.120001  25.299999  24.820000  24.940001  20.067896  28765200
2022-12-27  25.250000  25.309999  24.549999  25.110001  20.204685  50803200
2022-12-28  25.100000  25.320000  24.750000  24.799999  19.955246  57293500
2022-12-29  24.990000  25.049999  24.430000  24.500000  19.713852  57901800

[745 rows x 6 columns]